*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
.polygon{
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  clip-path: polygon(11% 0, 100% 0%, 100% 100%, 0% 100%);
  background-color: #F6B400;right: 0;

}
.header{
  position: relative;
}
nav{
  display: flex ;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-right: 25%;
}
.nav-bar ul{
  display: flex;
  justify-content: space-between;
}
.nav-bar li{
  padding: 25px;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  word-spacing: 5%;
}
.nav-bar li:hover{
  border-bottom: 5px solid orange;
}
.logo-part{
  display: flex;
  justify-content: space-around;
}
.logo-part h3{
  font-size: 25px;
  font-style: italic;
}
  
  .btn{
    background: #F6B400;
    font-size: 16px;
    padding: 16px 30px;
   border: none;
   border-radius: 30px;
   border-bottom-right-radius: 0;
 }
 .para{
     float: left;
     font-size: 20px;
     margin-right: 6%;
     margin-left: 5%;
     padding-top: 200px;
 }
 .para button{
     margin-top: 50px;
 }
 .para p{
     margin-top: 50px;
 }
 .img{
    height: 300px;
    margin-left: 50%;
 }
 .grid{
  padding-top: 250px ;
  clear: both;
  display: flex;
  justify-content: space-around;
  margin-top: 358px;
  background-color: #cceaec;
  padding-bottom: 150px;
}
.grid h5{
  color: rgb(55, 42, 92);
}
.three{
  border: 2px solid grey;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  border-radius: 15px;
  height: 300px;
  width: 350px;
}
#center-box{
  height: 450px;
  margin-top: -80px;
  padding-top: 75px;
}
​
.our{
  margin-top: 100px;
}
.our h2{
font-size: 40px;
border-bottom: 10px solid yellow;
margin-left:  45%;
margin-right: 48%;
}
.bell{
  font-size: 100px;
  color: #F6B400;
}
.fast{
  font-size: 100px;
  color: #F6B400;
}
.doubles .but {
  text-align: center;
}
.doubles .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.doubles h1 span {
  color: orange;
}

.row .dab1 {
  border: solid rgb(240, 236, 236);
  border-width: 1px;
  margin: 40px;
  width: 60%;
  border-radius: 14%;
  height: 90%;
  font-size: 80%;
}

.row .dab2 {
  border: solid rgb(240, 236, 236);
  border-width: 1px;
  margin: 40px;
  width: 60%;
  border-radius: 15%;
  height: 90%;
  font-size: 80%;
}
.row .dab3 {
  border: solid rgb(240, 236, 236);
  border-width: 1px;
  margin: 40px;
  width: 60%;
  border-radius: 15%;
  height: 90%;
  font-size: 80%;
}
.row .dab4 {
  border: solid rgb(240, 236, 236);
  border-width: 1px;
  margin: 40px;
  width: 60%;
  border-radius: 15%;
  height: 90%;
  font-size: 80%;
}

.row .dab5 {
  border: solid rgb(240, 236, 236);
  border-width: 1px;
  margin: 40px;
  width: 60%;
  border-radius: 15%;
  height: 90%;
  font-size: 80%;
}
.row .dab6 {
  border: solid rgb(240, 236, 236);
  border-width: 1px;
  margin: 40px;
  width: 60%;
  border-radius: 15%;
  height: 90%;
  font-size: 80%;
}
.about-us {
  margin-top: 150px;
}
.heading {
  font-size: 25px;
}

.advert-img {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}
.disc {
  background-color: #ffbb00;
  height: 600px;
}
.even {
  font-size: 210%;
  font-weight: 120;
  padding-left: 10px;
}
.app {
  height: 90px;
  width: 100px;
}
.phones{
  display: flex;
  background-color: #F6B400;
}
.footer{
  clear: both;
  display: flex;
  justify-content: space-between;
  padding: 70px;
  background-color: #E1EBE6;
}
.footer li{
  list-style: none;
}
.footer2{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.footer2 i{
  padding-right: 10px;
}
.footer color{
 color: #F6B400;
}
.color-2{
  color: #F6B400;
}
.myForm{
  padding-top: 25px;
}
.myForm input{
height: 35px;
}
.myForm button{
  height: 40px;
  width: 120px;
  margin-left: -5px;
  background-color: #F6B400;
  border: 0;
  
}