*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
.polygon{
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  clip-path: polygon(11% 0, 100% 0%, 100% 100%, 0% 100%);
  background-color: #F6B400;right: 0;

}
.header{
  position: relative;
}
nav{
  display: flex ;
  justify-content: space-between;
  margin-bottom: 30px;
}
.nav-bar ul{
  display: flex;
  justify-content: space-around;
}
.nav-bar li{
  padding: 25px;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
}
.nav-bar li:hover{
  border-bottom: 5px solid orange;
}
.logo-part{
  display: flex;
  justify-content: space-around;
}
.logo-part h3{
  font-size: 35px;}
  .btn{
    background: #F6B400;
    font-size: 16px;
    padding: 16px 30px;
   border: none;
   border-radius: 30px;
   border-bottom-right-radius: 0;
 }
 .description{
     float: left;
     font-size: 20px;
     margin-right: 6%;
     margin-left: 5%;
     padding-top: 200px;
 }
 .description button{
     margin-top: 50px;
 }
 .description p{
     margin-top: 50px;
 }
 .img{
    height: 300px;
    margin-left: 50%;
 }